.info{
    background-color: black;
    color: white;
    width: 300px;
    border-radius: 5% 5% 0 0;
    display: block;
}
.info--content{
    padding: 0 20px 0 20px;
}

.name{
    font-weight: bold;
    font-size: x-large;
}
.name--title{
    color: bisque;
    margin: 0;
}
.info--profile-pic{
    border-radius: 5% 5% 0 0;
}

.content{
    color: lightgray;
}

.name--sub-title{
    font-size: smaller;
    color: lightgray;
}

h2{
    margin: 20px 0 0 0;
}
p{
    margin: 0 0 12px 0;
}
.info--content--header{
    text-align: center;
}

.name--buttons{
    display: flex;
}

.btn-email{
    flex: 1;
    height: 40px;
    color: black;
    background-color: white;
    border: 0;
    border-radius: 10px;
    font-weight: bolder;
    margin: 0 1em 0 0;
}


.btn-LinkedIn{
    flex: 1;
    height: 40px;
    color: white;
    background-color: deepskyblue;
    border: 0;
    font-weight: bolder;
    border-radius: 10px;
}

.btn-LinkedIn svg{
    color: white;
}

svg{
    margin: 0 10px 0 0;
}
